doctype html

html(ng-app="app" ng-controller="appCtrl")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  head
    title SpriteBreaker - Wilfred James Godfrey
    link(rel="stylesheet" type="text/css" href="./css/index.css")
    link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
  body

    //- wrapper
    .container
      .row
        //- left col
        .col-xs-7
          //- top row
          .row
            .col-xs-12
              canvas#selector
          //- bottom row
          .row
            //- bottom left navigator
            .col-xs-6#navigator_wrapper
              canvas#navigator
            //- bottom left navigator
            .col-xs-6
              form#form
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-floppy-open
                  input(type="file", accept="image/*").form-control#filepath

                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-picture
                  input(type="text" ng-model="imagedata").form-control#imagedata
                  span.input-group-btn#imagedata-copy
                    button(type="button" ng-click="copy(imagedata)").btn.btn-default.btn-group copy

                //- label output
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-floppy-save
                  textarea(type="text" ng-model="output").form-control#output
                  span.input-group-btn#output-copy
                    button(type="button" ng-click="copy(output)").btn.btn-default.btn-group copy
                .input-group
                  button(type="button").btn.form.btn-primary Save
                  button(type="button").btn.btn-primary Load

        //- right col
        .col-xs-5#list
            div(
              ng-repeat="(spriteName, actions) in sprites"
            )

              .sprite(
                ng-init="open = true"
                ng-click="open = !open"
                ng-class="{open:open}"
              ) {{spriteName}}
              div(
                ng-repeat="(actionName, frames) in actions"
                ng-show="$parent.open"
              )

                .action(
                  ng-init="open = true"
                  ng-click="open = !open"
                  ng-class="{open:open}"
                ) {{actionName}}
                div(
                  ng-repeat="(frameName, frameData) in frames"
                  ng-show="$parent.open"
                )

                  .frame{{frameName}}



    script(src="./js/angular.js")
    script(src="./js/jquery-2.1.0.js")
    script(src="./js/jquery.mousewheel.js")
    script(src="./js/canvasquery.js")
    script(src="./js/canvasquery.framework.js")
    script(src="./js/index.js")
